.top-header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #a03037;
  color: #fff;
  padding: 10px;
}
.first-con {
  width: 100%;
}
.book-icon {
  height: 30px;
  padding: 10px;
}
.search-div {
  margin-left: 200px;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
  color: #a1a1a1;
  display: flex;
  align-items: center;
  width: 40%;
}
.search-input {
  border: none;
  width: 100%;
  outline: none;
}
.header-icons {
  display: flex;
  padding-left: 180px;
}
.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.header-tag {
  margin: 0;
  font-size: small;
}
@media only screen and (max-width: 768px) {
  .search-div {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .top-header {
    width: 100%;
    padding: 0;
  }
  .header-icons {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
  }
  .first-con {
    width: 100%;
  }
  .search-div {
    margin: 10px 0px;
  }

  .header-tag {
    padding: 0px 0px;
    display: none;
  }
  .books-container {
    padding: 0;
  }
  .display-books-header {
    padding: 0px;
  }
  .page-btn {
    margin: 0;
  }
  .profile-icon {
    padding: 5px;
    width: 20px;
    display: flex;
    flex-direction: row;
  }
  .cart-icon {
    padding: 5px;
    width: 20px;
    flex-direction: row;
  }
  .header-book-tag {
    display: none;
  }
}
