.footer-container{
    height: 35px;
    display: flex;
    background-color:#2E1D1E;
    color: #fff;
    padding: 10px;
}
.footer-para{
    font-size: 11px;
    text-align: center;
    padding-left: 150px;
}