.orderplaced-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100vh;
}
.order-para{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}
.order-details{
    margin-top: 50px;
    border: 1px solid #ccc;
    height: 100px;
    width: 600px;
}
.order-detail1{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 600px;
    background-color: #F5F5F5;

}
.order-head{
    font-weight: 500;
}
.order-detail2{
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
.order-tag{
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 5px 10px 5px 10px 
}
.orderDetails-tag{
    font-size: 11px;
    padding: 15px;
}